<div class="breadcrumbs">
  <div class="col-sm-4">
      <div class="page-header">
          <div class="page-title">
              <h1>パスワード管理(模板驱动)</h1>
          </div>
      </div>
  </div>
  </div>
  
  <form #passwordModForm="ngForm" (ngSubmit)="onSubmit()">
  <!-- <div [hidden]="formDir.submitted">
  <div class="cross-validation" [class.cross-validation-error]="checkoutForm.errors?.identityRevealed && (checkoutForm.touched || checkoutForm.dirty)"> -->
  <div class="content mt-3">
      <div class="card">
      <div class="card-body">
      <div class="row fform-group">
              <div class="col col-md-4"><label class=" form-control-label" for="name">ユーザ ID:</label></div>
              <div class="col-12 col-md-4">
                  <select id ="name" name="name" required [(ngModel)]="passwordMod.name" #name="ngModel">
                      <option *ngFor="let item of userList;let key=index" [value]="item">{{item}}</option>
                  </select>
                  <!-- <input formControlName="name"  maxlength = "10" class="input-sm form-control-sm form-control"/>  -->
              </div>
      </div>
      <br>
      <div class="row form-group">
        <div class="col col-md-4"><label class=" form-control-label">新しいパスワード:</label></div>
        <div class="col-12 col-md-4">
            <!-- <input [(ngModel)]="userInfo.pass"  maxlength = "10" class="input-sm form-control-sm form-control"/>  -->
            <input type='password' name="pass" class="input-sm form-control-sm form-control" required [(ngModel)]="passwordMod.pass" #pass="ngModel" minlength="4"/> 
        </div>
        <!-- <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">-->
        <div *ngIf="pass.invalid && pass.dirty" class="col-12 col-lg-8">
            <div *ngIf="pass.errors.required">
                pass is required
            </div>
            <div *ngIf="pass.errors.minlength">
                pass must be at least 4 characters long.
            </div>
             
        </div>  
        <br>    
    </div>
      <div class="row form-group">
          <div class="col col-md-4"><label class=" form-control-label">新しいパスワード(確認):</label></div>
          <div class="col-12 col-md-4">
              <input type='password' id ='passAgain' name="passAgain" 
              class="input-sm form-control-sm form-control" [(ngModel)]="passwordMod.passAgain" #passAgain="ngModel"/>
          </div>
          <br>
      </div>
      <div class="row form-group">
          <div class="col col-md-4">
              <button type="button" (click)="clearButton()" class="btn btn-danger btn-block">クリア</button>
          </div>
          <div class="col col-md-4">
              <button type="submit" class="btn btn-primary btn-block"> 変更する</button>
          </div>
      </div>
      </div>
      </div>
  </div>
  <!-- </div>
  </div> -->
  </form>
  <br>
  
  <div>
      控制台输出结果:
      <br>
      {{passwordMod|json}}
      <br>
  </div>