<!-- <app-parent></app-parent>
<hr>
<app-anews></app-anews>
<hr>
<app-ahome></app-ahome>
<hr>
<app-viewchildNew></app-viewchildNew>
<hr>
<app-domHome></app-domHome>
<hr> -->
<app-password></app-password>
<br><br><br><br><br><br><br><br><br>
<hr>
<app-passwordMod></app-passwordMod>
<!-- <br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<hr>
<app-form></app-form>
<hr>
<app-news></app-news>
<hr>
<app-search></app-search>
<hr>
<app-todolist></app-todolist>
<hr>
<app-home></app-home>
<hr> -->