<div class="breadcrumbs">
<div class="col-sm-4">
    <div class="page-header">
        <div class="page-title">
            <h1>パスワード管理(响应式)</h1>
        </div>
    </div>
</div>
</div>
<div>{{message}}</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
<!-- <div [hidden]="formDir.submitted">
<div class="cross-validation" [class.cross-validation-error]="checkoutForm.errors?.identityRevealed && (checkoutForm.touched || checkoutForm.dirty)"> -->
<div class="content mt-3">
    <div class="card">
    <div class="card-body">
    <div class="row fform-group">
            <div class="col col-md-4"><label class=" form-control-label" for="name">ユーザ ID:</label></div>
            <div class="col-12 col-md-4">
                <select id ="name" name="name" formControlName="name" required>
                    <option *ngFor="let item of userList;let key=index" [value]="item">{{item}}</option>
                </select>
                <!-- <input formControlName="name"  maxlength = "10" class="input-sm form-control-sm form-control"/>  -->

                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required">
                        name is required.
                    </div>
                </div>
            </div>
    </div>
    <br>
    <div class="row form-group">
        <div class="col col-md-4"><label class=" form-control-label">新しいパスワード:</label></div>
        <div class="col-12 col-md-4">
            <!-- <input [(ngModel)]="userInfo.pass"  maxlength = "10" class="input-sm form-control-sm form-control"/>  -->
            <input type='password' id="pass" formControlName="pass" class="input-sm form-control-sm form-control"/> 

            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                <div *ngIf="pass.errors.required">
                    pass is required.
                </div>
                <div *ngIf="pass.errors.minLength">
                    pass must be at least 4 characters long.
                </div>
                <div *ngIf="pass.errors.maxlength">
                    pass 不能超过10位.
                </div>
            </div>
        </div>
        <br>    
    </div>

    <div class="row form-group">
        <div class="col col-md-4"><label class=" form-control-label">新しいパスワード(確認):</label></div>
        <div class="col-12 col-md-4">
            <!-- <input [(ngModel)]="userInfo.passAgain" maxlength = "10" class="input-sm form-control-sm form-control"/>   -->
            <input type='password' formControlName="passAgain" id ='passAgain'
            class="input-sm form-control-sm form-control"/>
            
            <div *ngIf="passAgain.invalid && (passAgain.dirty || passAgain.touched)">
                <div *ngIf="passAgain.errors.required">
                    passAgain is required.
                </div>
                <div *ngIf="passAgain.errors.minLength">
                    passAgain must be at least 4 characters long.
                </div>
                <div *ngIf="passAgain.errors.maxlength">
                    passAgain 不能超过10位.
                </div>
            </div>

        </div>
        <br>
    </div>
    <div class="row form-group">
        <div class="col col-md-4">
            <button type="button" (click)="clearButton()" class="btn btn-danger btn-block">クリア</button>
        </div>
        <div class="col col-md-4">
            <button type="submit" class="btn btn-primary btn-block"> 変更する</button>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- </div>
</div> -->
</form>
<br>

<div>
    控制台输出结果:
    <br>
    {{checkoutForm.value|json}}
</div>