<div class="breadcrumbs">
<div class="col-sm-4">
    <div class="page-header">
        <div class="page-title">
            <h1>パスワード管理</h1>
        </div>
    </div>
</div>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
<div class="content mt-3">
    <div class="card">
    <div class="card-body">
    <div class="row form-group">
            <div class="col col-md-4"><label class=" form-control-label">ユーザ ID:</label></div>
            <div class="col-12 col-md-4">
                <!-- <select id ="name" name="name">
                </select> -->
                <input id="name" FormControlName="name"  maxlength = "10" class="input-sm form-control-sm form-control"/> 
            </div>
    </div>
    <div class="row form-group">
        <div class="col col-md-4"><label class=" form-control-label">新しいパスワード:</label></div>
        <div class="col-12 col-md-4">
            <!-- <input [(ngModel)]="userInfo.pass"  maxlength = "10" class="input-sm form-control-sm form-control"/>  -->
            <input id="pass" FormControlName="pass"  maxlength = "10" class="input-sm form-control-sm form-control"/> 
        </div>
        <br>
    </div>

    <div class="row form-group">
        <div class="col col-md-4"><label class=" form-control-label">新しいパスワード(確認):</label></div>
        <div class="col-12 col-md-4">
            <!-- <input [(ngModel)]="userInfo.passAgain" maxlength = "10" class="input-sm form-control-sm form-control"/>   -->
            <input id="passAgain" FormControlName="passAgain" maxlength = "10" class="input-sm form-control-sm form-control"/>               
        </div>
        <br>
    </div>
    <div class="row form-group">
        <div class="col col-md-4">
            <button type="button" (click)="clearButton()" class="btn btn-danger btn-block">クリア</button>
        </div>
        <div class="col col-md-4">
            <button type="submit" class="btn btn-primary btn-block"> 変更する</button>
        </div>
    </div>
    </div>
    </div>
</div>
</form>
    